<!-- Profile Display. Displays name and surname first, then age, then profile picture as an image based on URL provided by user, the description. -->
<h1>
	<strong>
		<%= @profile.name %>
		<%= @profile.surname %>
	</strong>
<h1>
<h2>
	<strong>Age:</strong>
	<%= @profile.age.to_s %>
</h2>

<% if @profile.photo? %>
		<br><img id = "profile" src="<%= @profile.photo %>" width="400px" ><br>
<% end %>

<p>
	<%= @profile.description %>
</p>

<!-- Initializes points and variables used to calculate points (not technically necessary in ruby, but let's keep things clean.) -->
<% @profile.points = 0 %>
<% total_votes = 0 %>
<% option_votes = 0 %>

<!-- Accesses all vote_options created by user, and searches for only the ones that are marked correct by an admin. The total votes cast by all users on these specific polls is stored in total_votes -->
<% @profile.user.vote_options.each do |option| %>
	<% if option.correct? %>
		<% option.poll.vote_options.each do |p_option| %>
			<% total_votes = total_votes + p_option.votes.count %>
		<% end %>
	<% end %>

<!-- Option_votes is the number of votes by all users on the correct option selected by the user in question -->
	<% option_votes = option.votes.count %>
	<!-- Assuming that option_votes is not 0 (to avoid dividing by zero), points are calculated based on this algorithm, which can then be displayed in the profile. -->
	<% if option_votes != 0 %>
		<% @profile.points = @profile.points + 10 * total_votes/option_votes %>

	<% end %>
<% end %>

<!-- Displays profile points -->
<p>
	<strong>Points:</strong>
	<%= @profile.points %>
</p>


<!-- Displays past events on which the user has voted -->
<h3>Participation in polls</h3>
<!-- Iterates through every vote_option cast by user, linking to each and displaying title. -->
<% @profile.user.vote_options.each do |option| %>

  <div class="panel panel-default">
    <div class="panel-heading"><%= link_to option.poll.topic, poll_path(option.poll) %></div>
    <div class="panel-body">
      <%= option.title %>
    </div>
  </div>
<% end %>

<!-- Allows user to edit profile, if sighed in and on own profile. -->
<br>
<% if user_signed_in? %>
    <% if current_user.profile %>
        <% if current_page? profile_path(current_user.profile) %>
			<%= link_to 'Edit my profile', edit_profile_path(current_user.profile) %>
		<% end %>
	<% end %>
<% end %>
<br>
<br>
<br>
<br>

