<h1>
	<strong>
		<%= @profile.name %>
		<%= @profile.surname %>
	</strong>
<h1>
<h2>
	<strong>Age:</strong>
	<%= @profile.age.to_s %>
</h2>

<% if @profile.photo? %>
		<br><img id = "profile" src="<%= @profile.photo %>" width="400px" ><br>
<% end %>

<p>
	<%= @profile.description %>
</p>
<% @profile.points = 0 %>
<% total_votes = 0 %>
<% option_votes = 0 %>

<% @profile.user.vote_options.each do |option| %>
	<% if option.correct? %>
		<% option.poll.vote_options.each do |p_option| %>
			<% total_votes = total_votes + p_option.votes.count %>
		<% end %>
	<% end %>

	<% option_votes = option.votes.count %>
	<% if option_votes != 0 %>
		<% @profile.points = @profile.points + 10 * total_votes/option_votes %>

	<% end %>
<% end %>


<p>
	<strong>Points:</strong>
	<%= @profile.points %>
</p>



<h3>Participation in polls</h3>
<% current_user.vote_options.each do |option| %>

  <div class="panel panel-default">
    <div class="panel-heading"><%= link_to option.poll.topic, poll_path(option.poll) %></div>
    <div class="panel-body">
      <%= option.title %>
    </div>
  </div>
<% end %>

<br>
<% if user_signed_in? %>
    <% if current_user.profile %>
        <% if current_page? profile_path(current_user.profile) %>
			<%= link_to 'Edit my profile', edit_profile_path(current_user.profile) %>
		<% end %>
	<% end %>
<% end %>
<br>
<br>
<br>
<br>

