<h1>
	<strong>
		<%= @profile.name %>
		<%= @profile.surname %>
	</strong>
<h1>
<h2>
	<%= @profile.age.to_s %>
</h2>

<p>
	<%= @profile.description %>
</p>

<h3>Participation in polls</h3>

<% current_user.vote_options.each do |option| %>
  <div class="panel panel-default">
    <div class="panel-heading"><%= link_to option.poll.topic, poll_path(option.poll) %></div>
    <div class="panel-body">
      <%= option.title %>
    </div>
  </div>
<% end %>

<br>
<br>

