<% content_for(:page_header) {"Predict now!"} %>

<% if user_signed_in? %>
	<% @polls.each do |poll| %>
		
		<div class = "well">
			<h2><%= poll.topic %> <small>(voted: <%= poll.votes_summary %>)</small></h2>

			<% if poll.open? || current_user.admin? %>
				<p>
					<% if current_user %>
						<%= link_to 'Participate!', poll_path(poll), class: 'btn btn-primary btn-lg block' %>			
					<% end %>
				</p>

				<% if current_user.admin? %>
					<div class = "btn-group">
						<%= link_to "Edit", edit_poll_path(poll), class: "btn btn-default" %>
						<%= link_to "Delete", poll_path(poll), method: :delete, class: 'btn btn-danger', data: {confirm: "Are you sure?"} %>
					</div>
				<% end %>
			<% else %>
				<p>This event is now closed </p>
				<%= link_to 'View Results', poll_path(poll), class: 'btn btn-primary btn-lg block' %>
			<% end %>
		</div>

	<% end %>

<% else %>
	Please <%= link_to 'sign in', new_user_session_path %> or <%= link_to 'sign up', user_registration_path %> to view events.
<% end %>